@import 'https://fonts.googleapis.com/css?family=Poppins';
* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	transition: all 0.3s;
	background-color: black;
	color: white;
	height: 100vh;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	background-color: #2a2a2a;
	border-radius: 12px;
	display: flex;
	width: 200px;
	justify-content: center;
	cursor: pointer;
}

.btn:hover {
	background-color: #e67a00;
}


.btn a{
	font-size: 25px;
	text-decoration: none;
	color: white;
}
